* {
    margin: 0;
    padding: 0;
    /* font-family: "Spicy Rice", serif; */
    /* font-family: "Fjalla One", sans-serif; */
    font-family: "Jolly Lodger", system-ui;
   /*  box-sizing: border-box; */
   
}

body {
    background-color: black;
    
}


header {
    transition: 0.8s;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    overflow: hidden;
    
    
    
}

.fotoFondo {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;

}

.logo {
    width:29em;
    position: absolute;
    align-self: center;
    top: 10%
    
       
   
}

#parrafo {
    position: absolute;
    color: white;
    font-size: 12vh;
    top: 70%;
    text-shadow: 5px 5px 8px black;
    align-self: center;
}

.nube-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 400px; 
    top: -4%;
    overflow: hidden;
}

#nube1 {
    position: absolute;
    width: 60vmax;
   
    
}

#nube2 {
    position: absolute;
    width: 40vmax;
    left: 60%;
    transform: translateX(-15%);
}







/* contenido posterior al header */

.segundaSeccion {
    background: linear-gradient(to top, #ff0000 , #F98824 70%); 
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    
}

.ola {
    
    margin-top: -18%;
    z-index: 1;
   
}

.tituloPrincipal {
    color: white;
    text-align: center;
    font-size: 9vmax;
    text-shadow: 5px 5px 8px black;
    margin-top: -6%;
    z-index: 10;
        
}

/* logo y redes sociales */
.locoli {
    position: absolute;
    width: 8vmax;
    top: 204%;
    left:84%;
        
}

.div-logos {
   display: flex;
   flex-flow: column wrap;
   justify-content: start;
   position: absolute; 
   top: 80%;
   margin-left: 2%;
   
}

.logoInsta {
    font-size: 2.8vmax;
    z-index: 10;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 25%;

}

.logoFace {
    font-size: 2.8vmax;
    color: rgba(255, 255, 255, 0.849);
    z-index: 10;
}


/* ********** contenido juego ************* */

/* contiene todo dentro del body */
.quiz-container {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.96);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 520px;
    width: 92%;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.575);
    margin-bottom: 10px;
    background-image: url(img/reyeno.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
    margin-top: -1%;
    
}

/* texto que indica preguntas */
.preguntas {
    font-family: "Jersey 10", sans-serif;
    color: white;
    font-size: 7vmax;
    filter: drop-shadow( 5px 4px 5px rgba(0, 0, 0, 0.853));
    letter-spacing: 4px; /* Cambia el espaciado entre letras */

}

/* grupo de preguntas y botones */
.elementosContenedor {
    margin-top:8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   
}


/* contenedor de la pregunta */
.contenedorPregunta {
    
    background-color: rgb(255, 255, 255);
    width: 60%;
    border-radius: 20px;
    padding:18px 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.749);
    align-self: center;
    
}


/* h2 de pregunta */
#question {
    text-align: center;
    font-family: "Bangers", system-ui;
    color: rgb(0, 0, 0);
    font-size: 2.8vmax;
    letter-spacing: 4px; /* Cambia el espaciado entre letras */
}




/* contenedor de los botones */
.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 0 10px;
    width: 50vmax;
    height:9vmax;
    
    


}

.btn {
    background: linear-gradient(to top, rgb(239, 90, 205), rgba(17, 237, 229, 0.877));
    
    border: 5px solid rgba(0, 0, 0, 0.212);
    color: rgb(0, 0, 0);
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    width:15vmax;
    height: 7vmax;
    font-family: "Bangers", system-ui;
    font-size: 1.6vmax;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.399);
   
  
}


.btn2 {
    position: relative;
    width:18vmax;
    height: 8vmax;
    font-size: 2vmax;
    top: 16%; 
    background: linear-gradient(to top, rgb(239, 90, 205), rgba(17, 237, 229, 0.877));
    border: 5px solid rgba(0, 0, 0, 0.212);
    color: rgb(0, 0, 0);
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Bangers", system-ui;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.399); 
}


.btn:hover {
    background: linear-gradient(to top, rgb(134, 34, 111), rgba(19, 115, 112, 0.877));
    border: 1.7px solid rgba(255, 255, 255, 0.478);
    color: white;
}

#alInicio {
    margin-top: 30px;
}







/* contenedor final de resolucion y puntaje */

.contenedorScore {
    background-color: rgba(0, 0, 0, 0.666);
    border-radius: 20px;
    margin-top: 20px;
    padding: 1px ;
    color: white;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.853);
    width:30vmax;
    align-self: center;
    border: 1px solid rgba(255, 255, 255, 0.374);
    height: 6vmax;
    
   
}

.contenedorScore h3, span {
    font-family: monospace;
    letter-spacing: 3px; /* Cambia el espaciado entre letras */
    font-size: 2vmax;
}

.result {
    margin-top:10px;
    font-family: "Jersey 10", sans-serif;
    letter-spacing: 4px; /* Cambia el espaciado entre letras */
    font-size: 1.8vmax;
   
}

.completado {
    color: white;
    font-family: "Bangers", system-ui;
    letter-spacing: 4px; /* Cambia el espaciado entre letras */
    font-size: 5vmax;
    filter: drop-shadow( 5px 4px 5px rgba(0, 0, 0, 0.853));
   
}

#score-container {
    margin-top: 2px;
    
}
















/* ++++++++++++++++++++++++ media query |  pantalla gigante |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:2220px) {
    
    
}


/* ++++++++++++++++++++++++ media query | pantalla extra extra lg  |   ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:1400px) {

    /* header */
    
    #nube2 {
        left: 65%;
       
    }

    .logo {
        width:35vmax;
       
    }

    .div-logos {
        top: 70%;
        
    }

    /* contenedor de los botones */
    .btn-container {
        width: 70vmax;
        height:10vmax;
        
        


    }

    .btn {
        width:20vmax;
        height: 8vmax;
        font-size: 1.6vmax;
        
    }

    
}



/* ++++++++++++++++++++++++ media query | pantalla extra lg   |  ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:1200px) {

    .div-logos {
        top: 3%;
        
    }

    #nube2 {
        width: 50vmax;
        left: 58%;
        transform: translateX(-20%);
    }
    
}



/* ++++++++++++++++++++++++ media query | pantalla lg  | ++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:992px) {
    
    #parrafo {
        font-size: 13vmax;
        text-align: center;
       top: 60%;
      }
   
    /* header */
    .div-logos {
        top: 3%;
        
    }

    .logoInsta {
        font-size: 3vmax;   
       
    }
    
    .logoFace {
        font-size: 3vmax;
    }
    

    .nube-container { 
        top: -15%;
       
    }
    
    #nube1 {
        width: 100vmax;
       
        
    }
    
    #nube2 {
        position: absolute;
        width: 40vmax;
        left: 60%;
        transform: translateX(-15%);
    }
    .logo {
        width:40vmax;
    
       
    }

    .tituloPrincipal {
        font-size: 7vmax;
        margin-bottom: 10px;
    }

    /* contenedor de los botones */
    .btn-container {
        width: 70vmax;
        height:12vmax;
        
        


    }

    .btn {
        width:18vmax;
        height: 10vmax;
        font-size: 2.2vmax;
        
    }   
    


}

/* ++++++++++++++++++++++++ media query  | personalizado |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:854px) {
  #parrafo {
   text-align: center;
   top: 50%;
  }

  /* contiene todo dentro del body */
.quiz-container {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.96);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    width: 92%;
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.575);
    margin-bottom: 10px;
    background-image: url(img/reyeno.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;   
    margin-top: -1%;
    
}

.elementosContenedor {
    margin-top:8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    height: 400px;
   
}


  /* contenedor de los botones */
.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 10px;
    width: 45vmax;
    height:40vmax;
    
    


}

.btn {
    background: linear-gradient(to top, rgb(239, 90, 205), rgba(17, 237, 229, 0.877));
    
    border: 5px solid rgba(0, 0, 0, 0.212);
    color: rgb(0, 0, 0);
    margin: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    width:35vmax;
    height: 7vmax;
    font-family: "Bangers", system-ui;
    font-size: 2.5vmax;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.399);
    
  
}

 
}
/* ++++++++++++++++++++++++ media query |  pantalla md   | ++++++++++++++++++++++++++++++++++*/



@media screen and (max-width:768px) {

    /* header */
    .logo {
        width:50vmax;   

    }

    #parrafo {   
        top: 58%; 
        font-size: 11vh;
        text-shadow: 5px 5px 3px black;

    }

    .div-logos {
        top: 3%;
        
    }

    .logoInsta {
        font-size: 3.7vmax;   
       
    }
    
    .logoFace {
        font-size: 3.7vmax;
    }

    .tituloPrincipal {    
        margin-top: -3%;
          
    }

    .btn {
        height: 8vmax;
        
       
      
    }
    



}




/* ++++++++++++++++++++++++ media query |  pantalla sm   | ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:576px) {
    
    /* header */
    .logo {
        width:42vmax;    
        
    }

    #parrafo {    
        top: 53%;
        text-shadow: 5px 5px 5px black;    
        margin: 0 38px; 
        text-align: center;
       
    }


    
  

}

/* ++++++++++++++++++++++++ media query  | personalizado |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:500px) {
    .tituloPrincipal {    
        font-size: 5.5vmax;
        margin-top: -3%;
          
    }

    /* header */
    .logo {
        width:40vmax;    
        
    }

    #nube1 {
        left: -6%;
    }

    .btn {
        height: 7.2vmax;
        
       
      
    }
    

}

/* ++++++++++++++++++++++++ media query  | personalizado |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:431px) {
    
    .nube-container { 
        top: -8%;
       
    }

    #nube1 {
        width: 70vmax;
        left: -20%;
        
    }

    .tituloPrincipal {
        color: white;
        text-align: center;
        font-size: 5vmax;
        text-shadow: 5px 5px 8px black;
        margin-top: -4%;
        z-index: 10;
        margin-bottom: 5px;
            
    }

}

/* ++++++++++++++++++++++++ media query  | pantalla xsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:425px) {

    /* header */
    .logo {
        width:42vmax;    
        top: 12%;
    }

    .nube-container { 
        top: -12%;
       
    }

    #nube1 {
        width: 70vmax;
        left: -20%;
        
    }
    .btn {
        height: 8vmax;
        
       
      
    }
  

}






@media screen and (max-width:376px) {
   
    /* header */
    .logo {
        width:40vmax;
          
        
    
    }
    #parrafo {    
        text-align: center;   
        font-size: 9vh;
        text-shadow: 5px 5px 5px black;
       
    }

    .nube-container {
        top: -20%;
    }

    
    #nube1 {
        position: absolute;
        width: 65vmax;
        left: -40%;
       
        
    }
    
    #nube2 {
        position: absolute;
        width: 50vmax;
        left: 40%;
        transform: translateX(-15%);
    }

    .tituloPrincipal {
        font-size: 5vmax;
        text-shadow: 3.5px 3.5px 4px black;
        

          
    }

   
}







/* ++++++++++++++++++++++++ media query  | pantalla xxsm |   ++++++++++++++++++++++++++++++++++*/

@media screen and (max-width:320px) {
   
    /* header */
    .logo {
        width:35vmax;
        top: 15%
       
    
    }

    #parrafo {   
        font-size: 10vh;
        text-shadow: 5px 5px 7px black;
       
    }

    .nube-container {
        top: -30%;
    }




}